@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/slick/css")
    @Styles.Render("~/bundles/slicktheme/css")
    @Styles.Render("~/bundles/nouslider/css")
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/mainstyle/css")


</head>
<body>
    <header>
       
        @Html.Partial("_Header")
    </header>
    <!-- NAVIGATION -->
    <nav id="navigation">
        @Html.Partial("_Navigation")
    </nav>
    @*@Html.Partial("_SectionGroup")*@
    @RenderBody()
    <div id="newsletter" class="section">
        @Html.Partial("_Newsletter")
    </div>
    <footer id="footer">
        @Html.Partial("_Footer")
    </footer>
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/slick/js")
    @Scripts.Render("~/bundles/nouslider/js")
    @Scripts.Render("~/bundles/jqueryzoom/js")
    @Scripts.Render("~/bundles/mainscript/js")

</body>
</html>