<!-- container -->
<div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
            <li class="active"><a href="@Url.Action("Index","Home")">Главная</a></li>
            <li><a href="@Url.Action("HotProduct","Home")">Горячие предложения</a></li>
            <li><a href="@Url.Action("Store","Home")">Категории</a></li>
            <li><a href="@Url.Action("accessories","Home")">Аксессуары</a></li>
            <li><a href="@Url.Action("policy","Home")">Правила пользования</a></li>
        </ul>
        <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
</div>
<!-- /container -->